# Appending 333  similar datasets to form a bigger dataset

In [2]:
import pandas as pd          # importing pandas library
filepath="E:/lotofdata" # defining filepath variable as the folder
# which has all the small datasets
data_final=pd.read_csv("E:/lotofdata/001.csv") # initialising the
# data-final data frame with the first dataset of the lot
data_final_size=len(data_final)    # initializing the data_final_size variable which counts the number of rows in the data_final data frame
for i in range(1,333):             # defining a loop over all the 333 files
    if i<10:
        filename='0'+'0'+str(i)+'.csv' # the files are named as 001.csv, 101.csv etc. Accordingly, 3 conditions arise for the filename
        # variable. i<10 requires appending 2 zeros at the beginning.
    if 10<=i<100:
        filename='0'+str(i)+'.csv' # i<100 requires appending 1 zeros at the beginning.
    if i>=100:
        filename=str(i)+'.csv'     # i>=100 requires appending no zeros at the beginning.

    file=filepath+'/'+filename     # defining the file variable by appending filepath and filename variable. file variable contains a new
    # file in every iteration
    data=pd.read_csv(file)         # file is read as data frame called data
    data_final_size+=len(data)     # data_final_size variable is updated by adding the length of the currently read file


    data_final=pd.concat([data_final,data],axis=0)  # concatanating/appending data to the data_final data frame on the axis=0 i.e. on rows
print (data_final_size)                               # printing the final_data_size variable containing the number of rows in the final
# data frame

773548

In [5]:
data_final.tail(10)

           Date  sulfate  nitrate   ID
721  2004-12-22      NaN      NaN  332
722  2004-12-23      NaN      NaN  332
723  2004-12-24      NaN      NaN  332
724  2004-12-25      NaN      NaN  332
725  2004-12-26      NaN      NaN  332
726  2004-12-27      NaN      NaN  332
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332