# Importing the Boston dataset

In [1]:
import pandas as pd
import numpy as np

In [3]:
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

•	CRIM: This is the per-capita crime rate by town  
•	ZN: This is the proportion of residential land zoned for lots over 25,000 sq.ft  
•	INDUS: This is the proportion of non-retail business acres per town  
•	CHAS: The is the Charles River dummy variable (1 if the tract bounds river; 0 otherwise)    
•	NOX: This is the nitric oxide concentration (parts per 10 million)  
•	RM: This is the average number of rooms per dwelling  
•	AGE: This is the proportion of owner-occupied units built prior to 1940  
•	DIS: This is the weighted distance to five Boston employment centers    
•	RAD: This is the index of accessibility to radial highways    
•	TAX: This is the full-value property tax rate per 10,000  
•	PTRATIO: This is the pupil-teacher ratio by town  
•	B: 1000(Bk - 0.63)^2: Here, Bk is the proportion of blacks by town  
•	LSTAT: This is the % of lower status of the population  
•	MEDV: This is the median value of owner-occupied homes in $1000s

# Preparation for fitting a regression tree

In [4]:
colnames=data.columns.values.tolist()
predictors=colnames[:13]
target=colnames[13]
X=data[predictors]
Y=data[target]

In [5]:
X.head(), Y.head()

(      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
 0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
 1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
 2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
 3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
 4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

     black  lstat
 0  396.90   4.98
 1  396.90   9.14
 2  392.83   4.03
 3  394.63   2.94
 4  396.90   5.33  , 0    24.0
 1    21.6
 2    34.7
 3    33.4
 4    36.2
 Name: medv, dtype: float64)

# Creating and fitting a regression tree

In [6]:
from sklearn.tree import DecisionTreeRegressor
regression_tree = DecisionTreeRegressor(min_samples_split=30,min_samples_leaf=10,random_state=0)
regression_tree.fit(X,Y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=10,
           min_samples_split=30, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

# Comparing actual and the predicted values from the Regression Tree

In [7]:
reg_tree_pred=regression_tree.predict(data[predictors])
data['pred']=reg_tree_pred
cols=['pred','medv']
data[cols].head(10)

        pred  medv
0  22.840000  24.0
1  22.840000  21.6
2  35.247826  34.7
3  35.247826  33.4
4  35.247826  36.2
5  24.058621  28.7
6  20.811111  22.9
7  20.020833  27.1
8  20.020833  16.5
9  20.020833  18.9

# Cross Validating the Regression Tree

In [8]:
from sklearn.cross_validation import KFold
from sklearn.cross_validation import cross_val_score
crossvalidation = KFold(n=X.shape[0], n_folds=10,shuffle=True, random_state=1)
score = np.mean(cross_val_score(regression_tree, X, Y,scoring='neg_mean_squared_error', cv=crossvalidation,n_jobs=1))
score

C:\Users\asd\Anaconda2\envs\py36\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

-20.107307036443846

# Calculating the feature importance

In [9]:
regression_tree.feature_importances_

array([ 0.03421203,  0.        ,  0.00116059,  0.        ,  0.01856163,
        0.6308568 ,  0.01725115,  0.00137451,  0.        ,  0.00236983,
        0.00933325,  0.        ,  0.28488021])

# Creating and fitting a Random Forest

In [22]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_jobs=2,oob_score=True,n_estimators=10)
rf.fit(X,Y)

C:\Users\asd\Anaconda2\envs\py36\lib\site-packages\sklearn\ensemble\forest.py:724: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
           oob_score=True, random_state=None, verbose=0, warm_start=False)

# Out of Bag prediction

In [23]:
rf.oob_prediction_

array([ 28.125     ,  22.625     ,  33.1       ,  34.625     ,
        35.72      ,  23.975     ,  18.975     ,  16.88      ,
        17.01666667,  22.8       ,  19.52      ,  20.83333333,
        21.875     ,  20.73333333,  18.44      ,  19.975     ,
        21.26666667,  20.26666667,  18.32      ,  19.16666667,
        14.125     ,  18.16      ,  18.7       ,  16.2       ,
        15.55      ,  14.96      ,  17.8       ,  14.75      ,
        18.76      ,  24.38333333,  13.83333333,  19.86666667,
        14.925     ,  13.76666667,  12.9       ,  21.45      ,
        20.67142857,  22.36666667,  20.74      ,  28.        ,
        30.5       ,  31.4       ,  24.7       ,  25.3       ,
        20.96666667,  21.68      ,  20.74      ,  19.96      ,
        18.83333333,  20.24      ,  21.92      ,  22.36666667,
        25.45      ,  21.13333333,  21.56666667,  33.875     ,
        23.14      ,  31.5       ,  23.03333333,  21.5       ,
        19.08      ,  18.94      ,  23.8       ,  26.92      ,
        33.8       ,  25.075     ,  19.95      ,  21.4       ,
        20.36666667,  21.05      ,  24.1       ,  19.35      ,
        21.75714286,  24.1       ,  22.3       ,  22.66666667,
        21.45      ,  19.65      ,  19.34      ,  19.52857143,
        28.5       ,  26.7       ,  23.45      ,  24.4       ,
        22.7       ,  26.15      ,  21.26666667,  21.86666667,
        33.6       ,  31.7       ,  22.91666667,  23.275     ,
        22.96      ,  24.35      ,  20.6       ,  26.6875    ,
        21.68      ,  45.06666667,  43.5       ,  32.8       ,
        26.125     ,  24.83333333,  19.8       ,  18.95      ,
        20.3       ,  17.625     ,  16.86      ,  18.65      ,
        21.03333333,  20.16666667,  19.65      ,  24.53333333,
        20.83333333,  18.14      ,  22.6       ,  19.48      ,
        20.55      ,  18.5       ,  18.4       ,  21.35      ,
        20.175     ,  20.3       ,  19.825     ,  17.92      ,
        20.5       ,  19.7       ,  13.45      ,  17.175     ,
        18.4       ,  15.03333333,  20.175     ,  19.98      ,
        19.66666667,  18.05      ,  14.52857143,  17.175     ,
        18.08333333,  18.175     ,  14.24      ,  13.8       ,
        14.6       ,  14.6       ,  13.2       ,  14.2       ,
        14.76666667,  14.6       ,  14.76666667,  14.6       ,
        15.13333333,  18.6       ,  21.525     ,  15.3       ,
        21.26666667,  14.525     ,  21.56666667,  18.45      ,
        17.5       ,  29.44      ,  23.6       ,  26.96666667,
        28.35      ,  35.9       ,  47.23333333,  50.        ,
        18.475     ,  23.2       ,  49.7       ,  20.48333333,
        21.93333333,  21.23333333,  22.43333333,  19.6       ,
        19.6       ,  22.48      ,  23.5       ,  28.73333333,
        22.53333333,  24.66      ,  30.4       ,   0.        ,
        40.2       ,  26.26666667,  34.125     ,  30.35      ,
        25.9       ,  25.06      ,  38.375     ,  27.22      ,
        28.05      ,  34.375     ,  31.9       ,  30.4       ,
        33.625     ,  28.15      ,  30.74      ,  48.375     ,
        33.65      ,  33.475     ,  31.6       ,  32.26666667,
        34.76666667,  23.125     ,  50.        ,  50.        ,
        47.5       ,  24.4       ,  22.2       ,  19.95      ,
        21.63333333,  14.46      ,  22.5       ,  18.45      ,
        20.63333333,  23.45      ,  18.82857143,  24.        ,
        22.375     ,  22.16      ,  20.42      ,  21.95      ,
        27.83333333,  16.525     ,  27.625     ,  24.3       ,
        39.7       ,  40.65      ,  44.025     ,  32.23333333,
        46.86666667,  29.26666667,  22.225     ,  31.6       ,
        38.15      ,  45.84      ,  26.6       ,  20.8       ,
        26.4       ,  33.1       ,  22.86666667,  24.6       ,
        28.75      ,  17.1       ,  22.        ,  23.875     ,
        18.56      ,  20.93333333,  19.94      ,  19.05      ,
        22.96      ,  24.4       ,  25.275     ,  25.36666667,
        33.075     ,  41.55      ,  20.825     ,  21.6       ,
        42.95      ,  35.35      ,  34.325     ,  30.5       ,
        30.525     ,  45.86      ,  43.1       ,  31.6       ,
        35.41428571,  23.        ,  29.075     ,  43.525     ,
        42.3       ,  20.55      ,  20.425     ,  24.175     ,
        21.38333333,  44.9       ,  31.85      ,  38.36666667,
        41.        ,  28.7       ,  24.86      ,  31.46      ,
        49.625     ,  34.        ,  45.22      ,  50.        ,
        32.86666667,  22.85      ,  19.85      ,  23.36666667,
        23.33333333,  22.71666667,  37.2       ,  34.3       ,
        28.8       ,  18.26666667,  22.925     ,  25.26      ,
        25.1       ,  21.21666667,  23.325     ,  33.95      ,
        34.4       ,  27.66666667,  24.1       ,  34.475     ,
        33.26666667,  28.62      ,  37.3       ,  31.525     ,
        29.62      ,  20.3       ,  21.65      ,  21.44      ,
        20.675     ,  23.8       ,  25.325     ,  20.75      ,
        19.55      ,  20.1       ,  21.45      ,  21.7375    ,
        23.73333333,  23.66666667,  21.03333333,  19.275     ,
        23.2       ,  24.25714286,  23.4       ,  18.46666667,
        20.73333333,  23.75      ,  24.48      ,  19.7       ,
        20.21666667,  28.7       ,  23.825     ,  20.6       ,
        20.        ,  19.1       ,  21.08      ,  19.5       ,
        19.98333333,  33.38      ,  23.28571429,  27.43333333,
        30.16666667,  17.2       ,  19.7       ,  23.63333333,
        27.3       ,  29.58333333,  23.95      ,  26.        ,
        22.625     ,  31.42      ,  20.        ,  22.        ,
        15.1       ,  21.125     ,  19.76666667,  21.06666667,
        16.65      ,  21.33333333,  20.36666667,  20.93333333,
        42.275     ,  15.9       ,  21.38      ,  17.7       ,
        40.475     ,  36.        ,  43.        ,  43.575     ,
        44.475     ,  13.1       ,  11.43333333,  24.9       ,
        11.16      ,  11.        ,  11.9       ,  12.12      ,
        15.25      ,  10.16666667,  11.88      ,  10.43333333,
         8.        ,   9.025     ,   6.65      ,   9.3       ,
         9.6       ,  11.9       ,  13.8875    ,  13.1       ,
         9.2       ,  12.36666667,  10.26666667,  10.13333333,
        12.88      ,  11.83333333,   8.38      ,   9.425     ,
         7.975     ,   8.73333333,  11.025     ,  10.83333333,
         7.85      ,   7.25      ,  11.65      ,  37.3       ,
        11.63333333,  16.05      ,  38.7       ,  17.76666667,
         0.        ,  14.36666667,   9.36666667,  12.86666667,
        12.23333333,  10.13333333,   9.84      ,  11.25      ,
        14.73333333,  14.3       ,  23.8       ,  15.55      ,
        12.36666667,  11.6       ,  15.5       ,  17.        ,
        13.56      ,  11.7       ,  13.425     ,  20.325     ,
        20.92      ,  13.95      ,  12.03333333,  11.25      ,
        16.3       ,  11.56666667,   7.66666667,  11.61666667,
         6.95      ,  13.15      ,  11.3       ,  15.675     ,
        10.76      ,  13.4       ,  13.4       ,  14.25      ,
        13.23333333,  14.7       ,  14.9       ,  15.83333333,
        14.7       ,  17.88333333,  13.45      ,  15.6       ,
        15.175     ,  17.2       ,  17.3       ,  16.8       ,
        14.275     ,  17.7       ,  19.51666667,  20.575     ,
        18.76666667,  21.71428571,  19.05      ,  13.3       ,
        12.62      ,  20.675     ,  18.1       ,  20.525     ,
        17.11666667,  26.25      ,  13.175     ,  14.525     ,
        17.625     ,  14.91666667,  15.725     ,  21.275     ,
        20.125     ,  35.1       ,  34.3       ,  19.9       ,
        22.45      ,  23.        ,  19.8       ,  21.3       ,
        14.125     ,  11.73333333,  12.26      ,  17.2       ,
        22.45      ,  17.5       ,  21.46666667,  18.66666667,
        18.8       ,  19.93333333,  23.35      ,  21.05      ,
        20.94      ,  22.55      ,  14.9       ,  32.36666667,
        25.75      ,  22.75      ])

# Comparing actual values with Random Forest predictions

In [24]:
data['rf_pred']=rf.oob_prediction_
cols=['rf_pred','medv']
data[cols].head()

   rf_pred  medv
0   28.125  24.0
1   22.625  21.6
2   33.100  34.7
3   34.625  33.4
4   35.720  36.2

# Calculating the squared mean error

In [25]:
data['rf_pred']=rf.oob_prediction_
data['err']=(data['rf_pred']-data['medv'])**2
sum(data['err'])/506

17.285697902018171

The mean squared error comes out to be 17.285, which is less than 20.10 obtained from the regression tree with cross-validation

# Calculating the oob score

In [26]:
rf.oob_score_

0.79524059721373308